bin/data/scripts/
bin/data/GoodHair_short/
bin/data/GoodHair3_sound.m4a				
bin/data/JoelleFleurantin_GoodHair3 .jpg
bin/data/JoelleFleurantin_GoodHair3 .mov
bin/data/handsTrees/
bin/data/GoodHair_shorter/Resources/				
bin/data/JoelleFleurantin_GoodHair3  - Broadband.m4v	
bin/data/JoelleFleurantin_GoodHair3  - Cellular.m4v	
bin/data/JoelleFleurantin_GoodHair3  - Wi-Fi.m4v		
bin/data/stylesheets
bin/data/JoelleFleurantin_GoodHair3 .html
